@media screen and (min-width: 35em) {
  .name h1 {
    padding: 25px;
    color: rgb(42, 42, 82);
    font-size: 20px;
  }

  .logo img {
    width: 100px;
  }

  .button a {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero h1 {
    top: 35%;
  }

  /* ####################### Button ##################### */
}
