* {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  text-align: center;
  border-radius: 25px;
}
.main-container {
  padding: 20px;
}
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding: 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(42, 42, 82);
}
.hero img {
  width: 100%;
  height: 420px;
  margin-bottom: 25px;
}
.hero h1 {
  background-color: white;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.logo {
  padding: 10px;
}
.name h1 {
  padding: 25px;
  color: rgb(42, 42, 82);
}
.button a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button a {
  display: inline-block;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.button a:hover {
  background-color: #45a049;
}
/* Style for the summary section */
.summary {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 15px auto;
}

/* Style for the image within the summary section */
.summary img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin: auto;
}

/* Style for the paragraphs within the summary section */
.summary p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  padding: 15px;
}

/* Style for the link within the summary section */
.summary a {
  color: #007bff;
  text-decoration: none;
}

/* Style for the link on hover */
.summary a:hover {
  text-decoration: underline;
}

/* #############Footer#################### */
/* Apply general styles to the footer */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the social media icons */
.social img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Style the last-updated section */
.last-updated p {
  font-size: 12px;
  color: #777;
}

/* Style the copyright year */
#year {
  font-weight: bold;
}

/* Style the separator between elements */
.last-updated::before {
  /* content: "|"; */
  margin: 0 5px;
  color: #777;
}

/* ########################Weather#################### */

.weather-card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.current-weather,
.forecast {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

.forecast-items {
  display: flex;
  justify-content: space-between;
}
/* #######################Fresh Page##################### */

/* Style for the form container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for form inputs and labels */
.form-input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label {
  font-weight: bold;
}

/* Style for the submit button */
.form-submit {
  display: block;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

/* Style for the order details section */
#order-details {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for order details headings */
#order-details h2,
#order-details h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Style for order details paragraphs */
#order-details p {
  margin-bottom: 5px;
}

/* Style for the total nutritional values */
#order-details p strong {
  color: #007bff;
}

/* Style for error messages */
.error-message {
  color: red;
}

/* Style for select elements */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* ################# About Us ############################ */

main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.title h1 {
  color: #007bff;
}

/* div {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
} */

h2 {
  color: #007bff;
  padding: 15px;
}

.history p {
  text-align: center;
}

.contact,
.store-hours,
.map,
.title,
.summary,
.history {
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
header {
  margin: 25px;
}
