* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  background-color: rgb(6, 45, 240);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

nav ul {
  display: flex;
  list-style-type: none;
  overflow: hidden;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

h1,
h2,
h3,
.design p {
  text-align: center;
  margin: 16px;
  color: white;
}
img {
  border-radius: 50%;
}
main,
h2,
h3,
p {
  text-align: center;
  margin: 16px;
  color: black;
}
